* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neo';
}

@font-face {
    font-family: 'neo';
    src: url("/doc/neo_cybern/NEO\ CYBERN.otf");
}


.naves {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    color: #2EFDFD;
    height: 80px;
    padding-inline: 10px;
}

.list{
    list-style: none;
    font-size: 30px;
    text-align: end;
}

.roupa{
    width: 70px;
    height: 70px;
    padding-top: 10px;
}

section {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 100px;
    height: 100dvh;
    background: linear-gradient(to bottom, #FF04B2, #7E1D60);
    
}

.esquerda, .direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    gap: 40px;
}

.direita {
    gap: 100px;
}

.textobox {
    font-size: 5rem;
    width: 800px;
    color: #01EBFC;
    background-color: black;
    border: solid 2px;
    border-color: #01EDFE;
    text-align: center;
    height: 150px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textobox2 {
    border: solid white;
    color: #01EBFC;
    background: linear-gradient(to bottom, #FF04B2, #7E1D60);
    width: 40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    font-size: 4.7rem;
}

.vermais {
    font-size: 2rem;
    width: 300px;
    color: #01EBFC;
    background-color: black;
    border: solid 2px;
    border-color: #01EDFE;
    border-radius: 10px;
    text-align: center;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rodape {
    color: #2EFDFD;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 50px;
}

a.palaranav {
    text-decoration: none;
    color: inherit;
}

a.palaranav:hover {
    color: #0cadb9;;
}

a.inicio {
    text-decoration: none;
    color: inherit;
}

a.inicio:hover {
    color: #0cadb9;;
}